<section>
  <div class='spacer-100'></div>
  <div class='row' >
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <%= link_to 'â† back', :back %>
      <h3>New Tag</h3>
      <%= render 'layouts/messages' %>
      <%= render 'form' %>
    </div>
    <div class='col-md-4'></div>
  </div>
</section>
