// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.spacer-100 {
  padding-top: 100px;
}

/* Chosen plugin */

.chosen-container .chosen-drop {
  border: 1px solid #ccc;
}

.chosen-container .chosen-results li.highlighted {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.chosen-container-multi .chosen-choices {
  padding: 4px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  cursor: text;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ccc;
}
.chosen-container-active .chosen-choices {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
